/* Buttons */
.button {
	display: inline-block;
	padding: 6px 14px;
	cursor: pointer;
	border-radius: 3px;

	background: #dedede !important;
	border: 2px solid #dedede !important;
	color: #000 !important;
}

.button:where(:hover, :focus-visible):not([disabled]) {
	background: #c0c0c0 !important;
	border: 2px solid #c0c0c0 !important;
	color: #000 !important;
}

.button.alt {
	background: #003049 !important;
	border: 2px solid #003049 !important;
	color: #fff !important;
}

.button.alt:where(:hover, :focus-visible):not([disabled]) {
	background: #264f64 !important;
	border: 2px solid #264f64 !important;
	color: #fff !important;
}

.button.disabled {
	opacity: 0.75;
	cursor: not-allowed;
	pointer-events: none;
}

/* Cart */
.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}

@media ( min-width: 1200px ) {
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: 250px !important;
	}
}

/* Fix large block buttons */
.wc-block-checkout .wp-block-button__link {
	width: auto;
	height: auto;
}

/* Events - Do not capitalize price */
.tribe-events-cost {
	text-transform: none !important;
}

/* Event - Add to Cart button */
.sfe-product-cart-button .product-details {
	display: flex;
	flex-direction: row;
	gap: 5px;
	font-size: 16px;
	margin-bottom: 5px;
}

.sfe-product-cart-button .product-price {
	font-weight: 600;
}

body.single-tribe_events .sfe-product-cart-button .product-price {
	font-size: 18px;
}

.sfe-product-cart-button > .stock {
	display: none;
}

.sfe-product-cart-button .cart {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 10px;
	align-items: center;
}

.sfe-product-cart-button input[type="number"] {
	padding: 10px;
	font-size: 16px;
}

/* Large button on desktop */
@media ( min-width: 720px ) {
	.sfe-product-cart-button .button {
		font-size: 16px;
		padding: 10px 20px;
	}
}

/* Event Calendar - List View - Hide redundant "Cost" label */
.tribe-events-calendar-list__event-details:has(.sfe-product-cart-button) .tribe-events-calendar-list__event-cost {
	display: none;
}

/* Event Calendar - Notices */
.tribe-events-notices {
	background: #003049;
	color: #fff;
	padding: 20px 30px;
}

.tribe-events-notices a {
	color: #fff;
	text-decoration: underline;
}

/* Available Classes Shortcode [souflags_list_classes] */
.sfe-available-classes {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.sfe-available-classes h2 a {
	color: #003049;
	text-decoration: underline;
}

.sfe-available-classes h2 a:where(:hover, :focus-visible) {
	color: #000;
	text-decoration: underline;
}

/* Event List (Available classes shortcode and Class Type term page) */
.sfe-classes-list {
	margin-top: 10px;
	margin-left: 20px;
}

.sfe-classes-list .event-row {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.sfe-classes-list .class-event.expired {
	opacity: 0.75;
}

.sfe-classes-list .expired-label {
	font-weight: 600;
}

/* Shortcode usage bottom margin */
.entry-content > .sfe-classes-list:last-child {
	margin-bottom: 30px;
}

/* Single term page */
.term-class_type h1.main_title {
	margin-bottom: 0;
}
.entry-content > .sfe-available-classes:last-child {
	margin-bottom: 60px;
}
.sfe-back-to-events {
	margin-bottom: 60px;
}


/* Cart and Checkout - Hide product description if event name is shown */
.wc-block-components-product-metadata:has(.wc-block-components-product-details__event) .wc-block-components-product-metadata__description {
	display: none;
}

/* Footer logo strip */
body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_row {
	align-items: center;
}

body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_image {
	margin: 0;
	padding: 0;
	text-align: center;
}

body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_image a {
	display: inline-block;
}

body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_image img {
	display: block;
	max-height: 200px;
	max-width: 100%;
	height: auto;
	width: auto;
}

.footer-row-logos a img {
	transition: opacity 0.3s ease-out;
	opacity: 1;
}

.footer-row-logos:has(a:where(:hover, :focus-visible)) a:not(:hover, :focus-visible) img {
	opacity: 0.5;
}

body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_row {
	width: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4vw;
	padding: 8vw;
}

body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_row::after {
	display: none;
}

body.et-db #et-boc footer.et-l .footer-row-logos .et_pb_row .et_pb_column {
	width: auto;
	margin: 0;
	padding: 0;
}

/* Footer - Main Row (Logo + Nav menus) */
body.et-db #et-boc footer.et-l .et_pb_section.footer-row-main {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

body.et-db #et-boc footer.et-l .et_pb_section.footer-row-main .et_pb_image {
	margin-bottom: 10px !important;
}

footer .footer-row-main .et_pb_row .et_pb_column :where(p, ul) {
	line-height: 1.5;
}

footer .footer-row-main a {
	text-decoration-color: rgba(255, 255, 255, 0.25);
	text-underline-offset: 2px;
}

footer .footer-row-main a:where(:hover, :focus-visible) {
	text-decoration-color: rgba(255, 255, 255, 1);
}

@media ( min-width: 980.1px ) {
	body.et-db #et-boc footer.et-l .et_pb_section.footer-row-main {
		padding-top: 0 !important;
	}

	body.et-db #et-boc footer.et-l .et_pb_section.footer-row-main .et_pb_row {
		padding-top: 100px !important;
		padding-bottom: 20px !important;
	}

	body.et-db #et-boc footer.et-l .et_pb_section.footer-row-main .et_pb_image {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	footer .footer-row-main .et_pb_row {
		display: grid;
		grid-template-columns: 1fr auto auto;
		gap: 5vw;
	}

	footer .footer-row-main .et_pb_row .et_pb_column {
		margin: 0;
		padding: 0;
		width: auto;
	}

	body.et-db #et-boc footer.et-l .footer-row-main .et_pb_row::after {
		display: none;
	}

	footer .footer-row-main .et_pb_row .et_pb_column ul li {
		margin-top: 5px;
	}

	footer .footer-row-main .et_pb_row .et_pb_column:not(:first-child) {
		font-size: 16px;
	}

	footer .footer-row-main .et_pb_row .et_pb_column:not(:first-child) p {
		font-size: 20px;
		margin-bottom: 10px;
	}
}

/* Footer - Copyright row */

body.et-db #et-boc footer.et-l .footer-row-copyright {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

@media ( min-width: 980.1px ) {
	body.et-db #et-boc footer.et-l .et_pb_top_inside_divider {
		height: 120px !important;
	}
}

/* Ticket registration form */
form.sfe-registration-form {
	max-width: 600px;
}

.sfe-form-fields {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sfe-form-fields .field {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.sfe-form-fields .field label {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.35;
}

.sfe-form-fields .prereq.required {
}

.sfe-form-fields .prereq.optional {
	font-weight: 400;
}

.sfe-ticket-list {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

h2.ticket-entry-title {
	font-size: 20px;
	padding-bottom: 15px;
}

.sfe-form-fields .field input:where([type="text"], [type="number"]) {
	background-color: #fff;
	border: 1px solid #bbb;
	padding: 8px;
	color: #4e4e4e;
}

@media ( min-width: 720.1px ) {
	.sfe-form-fields .field input:where([type="text"], [type="number"]) {
		padding: 12px;
		font-size: 16px;
	}
}